<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style9.css">
    <audio src="../static/achieve.mp3" autoplay loop></audio>
    <title>Achievement</title>
</head>

<body style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/tofy.jpg); background-position: center; background-size: cover; width: 100%; height: auto;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SHOURYA GUPTA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <!--The Home Button-->
                <li class="nav-item active">
                    <a class="nav-link" href="/index1">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--The about us button-->
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <!--The Achievement Dropdown toggle currently inactive-->
                <li class="nav-item">
                    <a class="nav-link" href="/achieve">Achievement</a>
                </li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Achievement
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="preschool.html">Pre School</a>
                        <a class="dropdown-item" href="highschool.html">High School</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="college.html">College</a>
                    </div>
                </li>-->
                <!---The Hobbies button-->
                <li class="nav-item">
                    <a class="nav-link" href="/hobbies">Hobbies</a>
                </li>
                <!---The Blogs button currently in inactive-->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Blogs</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="services" id="services">
        <div class="title">
            <div class="col">
                <h2>ACHIEVEMENTS</h2>
                <p style="color: #fff;"><br>Achievements are a representation of a coat of arms <span> with all the adjuncts to which a bearer of arms is entitled.</span><br>
                    <h3>Some of my Achievement are:</h3>
                </p>
            </div>
        </div>
        <div class="content">
            <div class="services8x" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/ac.gif);">
                <a target="_blank" href="../static/nptel1.jpg">
                    <img src="../static/nptel1.jpg" style="height: 250px; width: 250px; border-radius: 10px;" alt="Avatar">
                </a>
                <h2>Robotics</h2>
                <p>The branch of technology that deals with the design, construction, operation, and application of robots. Robots are machines that can be used to do jobs. Some robots can do work by themselves. Other robots must always have a person telling
                    them what to do.<br>And this curiosity led me to the successfull completion of a course on Robotics from IIT Kharapur securing a successfull score of 87%.</p>
            </div>
            <div class="services8x" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/ac.gif); align-content: center;">
                <a target="_blank" href="../static/nptel2.jpg">
                    <img src="../static/nptel2.jpg" style="height: 250px; width: 250px; border-radius: 10px;">
                </a>
                <h2>Employment Communication</h2>
                <p>Employment Communication a lab based course offered by IIT Kharapur as well was also a very impactfull and hard core learning experices for me so as to how to put one self into a better code of conduct.And most importantly face says it
                    all.
                    <br>I took immense effort into it and successfully scored 92% in the final certification examination.</p>
            </div>
            <div class="services8x" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/ac.gif);">
                <a target="_blank" href="../static/extem.jpg">
                    <img src="../static/extem.jpg" style="height: 250px; width: 250px; border-radius: 10px;">
                </a>
                <h2>Extempore</h2>
                <p>Extempore is a on the spur of the moment; without premeditation or preparation <br> offhand speaking exercise.<br>So to enhance my skills I participated in the Extempore Competition organised by AEIE department of Techno International
                    Newtown and <br> successfully secured 2nd position in the departmental fest organised by Mind Marathon</p>
            </div>
            <div class="services8x" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/ac.gif);">
                <a target="_blank" href="../static/psy.jpg">
                    <img src="../static/psy.jpg" style="height: 250px; width: 250px; border-radius: 10px;">
                </a>
                <h2>Psychology</h2>
                <p>Psychology is the study of human health and behaviour affected by their mind. Psychology courses in India are offered at various levels i.e. Diploma courses in Psychology, Certificate courses in Psychology, Bachelor degree courses in Psychology
                    as well as Postgraduate courses in Psychology. Moreover, there are many research-level courses in Psychology and part-time or online courses in Psychology.<br>And thus I successfully completed this course with 100% grade.</p>
            </div>
            <div class="services8x" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/ac.gif);">
                <a target="_blank" href="../static/fak.jpg">
                    <img src="../static/fak.jpg" style="height: 250px; width: 250px; border-radius: 10px;">
                </a>
                <h2>First Aid Knowlegde</h2>
                <p>Having a basic first aid knowledge means that you’ll be confident in your skills and abilities in relation to first aid administration. <br>By taking first aid training, it helps you to reflect on yourself and how you and others react
                    in certain situations.
                    <br>Thus to make my general daily lifestyle stronger and more aware<br> completed this with a success of Grade A in this feild.</p>
            </div>
            <div class="services8x" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/ac.gif);">
                <a target="_blank" href="../static/xray.jpg">
                    <img src="../static/xray.jpg" style="height: 250px; width: 250px; border-radius: 10px;">
                </a>
                <h2>Imaging X-ray</h2>
                <p>The discovery of X-rays and the invention of CT represented major advances in medicine. X-ray imaging exams are recognized as a valuable medical tool for a wide variety of examinations and procedures.<br> They are used to: 1. noninvasively
                    and painlessly help to diagnose disease and monitor therapy; 2. support medical and surgical treatment planning; and 3. guide medical personnel as they insert catheters, stents, or other devices inside the body, treat tumors, or remove
                    blood clots or other blockages. <br> Thus completed this course with an Grade A.</p>
            </div>
            <div class="services8x" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/ac.gif);">
                <a target="_blank" href="../static/nu.jpg">
                    <img src="../static/nu.jpg" style="height: 250px; width: 250px; border-radius: 10px;">
                </a>
                <h2>The Science of Nuclear Energy</h2>
                <p></p>
            </div>
            <div class="services8x" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/ac.gif);">
                <a target="_blank" href="../static/fapy.jpg">
                    <img src="../static/fapy.jpg" style="height: 250px; width: 250px; border-radius: 10px;">
                </a>
                <h2>Face Recognition Application Using Python</h2>
                <p></p>
            </div>
            <div class="services8x" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/ac.gif);">
                <a target="_blank" href="../static/excel.jpg">
                    <img src="../static/excel.jpg" style="height: 250px; width: 250px; border-radius: 10px;">
                </a>
                <h2>Advanced Excel Workshop</h2>
                <p></p>
            </div>
            <div class="services8x" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../static/ac.gif);">
                <a target="_blank" href="../static/holo.jpg">
                    <img src="../static/holo.jpg" style="height: 250px; width: 250px; border-radius: 10px;">
                </a>
                <h2>Workshop on Robotics</h2>
                <p></p>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>